body {
  /* font-family: 'Permanent Marker', cursive; */
  font-family: 'Gloria Hallelujah', cursive;
  /* font-family: 'Kalam', cursive; */
  /* font-family: 'Rock Salt', cursive; */
  /* font-family: 'Reenie Beanie', cursive; */
  /* font-size: 2rem */
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  flex: 1 0 auto;
}